body {
/*  padding: 10px;*/
	margin: 0px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-image: url("../images/whitey.png");
	text-shadow: 0 1px 1px #efefef;	
	color: #282828;
}

a {
	color: #00B7FF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.tweet-at {
	color: #00B7FF;
}

#search-wrapper {
	width: 80%;
	margin: auto;
	min-width: 1010px;
/*	border: 1px solid black;*/
}

#search-heading {
	font-size: 28px;
	text-align: center;
	padding: 10px;
	min-width: 320px;
}
#search-main {
	text-align: center;
/*	border: 1px solid black;*/
	min-width: 320px;
	max-width: 500px;
	margin: 10px auto;
	position: relative;
	
}

#search-dropdown .options input {
	padding: 5px 0px;
}
#search-dropdown .options {
	width: 100%;
	margin-left: 20%;
	text-align: left;
}


#search-input {
	display: inline-block;
	margin: auto;
/*	margin: 15px;*/
	width: 70%;
	padding: 6px 25px 6px 25px;
	font-size: 12px;
	color: #333;
	border: 0px;
	
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	z-index: 9999;
	
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.4),inset 0 1px 0 rgba(0,0,0,.3);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.4),inset 0 1px 0 rgba(0,0,0,.3);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.4),inset 0 1px 0 rgba(0,0,0,.3);
	
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

#search-input:focus {
    outline: none;
	border-color: #9ecaed;
	box-shadow: 1px 0 10px #9ecaed;
    -webkit-box-shadow: 1px 0 10px #9ecaed;
    -moz-box-shadow: 1px 0 10px #9ecaed;
}

#search-activity {
	margin: 0 10px;
	opacity: 0;
	display: inline-block;
}

#search-options:hover {
	color: black;
}

.tweet-box {
	text-align: left;
	margin: auto;
	padding: 10px;
	background-color: #ffffff;
	background: -moz-linear-gradient(center bottom, #ececec 22%, #fafafa 81%);
	background: -webkit-gradient(linear,left bottom, left top, color-stop(0.22, #ececec), color-stop(0.81, #fafafa));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#ececec, endColorStr=#fafafa);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ececec, endColorstr=#fafafa)";
	word-wrap: break-word;
}

.tweet-box:hover {
	background-color: #fffff0;
	background: -moz-linear-gradient(center bottom, #e6e6e6 22%, #e0e0e0 81%);
	background: -webkit-gradient(linear,left bottom, left top, color-stop(0.22, #e6e6e6), color-stop(0.81, #e0e0e0));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#e6e6e6, endColorStr=#e0e0e0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6e6e6, endColorstr=#e0e0e0)";
}

.tweet-box .tweet-left {
/*	border: 1px solid black;*/
	display: inline-block;
	width: 10%;
	vertical-align: top;
	text-align: left;
	margin-right: 10px;
}

.tweet-box .tweet-left img{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.tweet-box .name {
	margin-bottom: 3px;
}

.tweet-box .user {
	font-size: 16px;
	font-weight: bold;
}

.tweet-box .username {
	font-size: 13px;
	font-weight: lighter;
	color: #999999;
}

.tweet-box .tweet-right {
/*	border: 1px solid black;*/
	display: inline-block;
	width: 85%;
	font-size: 13px;
}

.load-more {
/*	border: 1px solid black;*/
	text-align: center;
}

#results-activity {
	display: inline-block;
}

#search-icon {
	position: relative;
	left: 9.7%;
	top: 2px;
}

.tweet-box time {
	float: right;
	color: #aaaaaa;
	font-size: 12px;
	padding: 5px 0 0 0;
}

#search-inner-wrapper {
	width: 100%;
	text-align: center;
/*	border: 1px solid black;*/
}

#search-results {
	max-width: 500px;
	min-width: 500px;
	height:80%; 
	overflow: auto;
/*	border-top: 1px solid #bababa;
	border-left: 1px solid #bababa;
	border-bottom: 1px solid #bababa;*/	
	display: inline-block;
	vertical-align: text-bottom;
	
}

#data-vis {
	max-width: 500px;
	min-width: 500px;
	height:80%; 
	overflow: auto;
/*	border-top: 1px solid #bababa;
	border-right: 1px solid #bababa;
	border-bottom: 1px solid #bababa;*/
	display: inline-block;
	vertical-align: text-bottom;
	
}

#dropdown-icon {
	font-size: 8px;
	color: #cccccc;
	position: relative;
	left: 68%;
	cursor: pointer;
	border-left: 1px solid #cccccc;
	padding-left: 7px;
}

#dropdown-icon:hover, #dropdown-icon.active {
	color: #333333;
}

#search-dropdown {
	background-color: white;
	width: 30%;
	z-index: 999;
	position: absolute;
	left: 55%;
	border: 1px solid #cccccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
	padding: 5px 0px;
	text-align: left;
	display: none;
	-moz-box-shadow: 1px 1px 3px #888;
	-webkit-box-shadow: 1px 1px 3px #888;
	box-shadow: 1px 1px 3px #888;
}
#search-dropdown .heading {
	font-size: 13px;
	font-weight: bold;
	padding: 10px 15px 10px 20px;
}

#search-dropdown .options-list li{
/*	border: 1px solid black;*/
	border-top: 1px solid rgba(0,0,0,0);
	border-bottom: 1px solid rgba(0,0,0,0);
}

#search-dropdown .options-list label{
	cursor: pointer;
	padding: 7px 0 7px 20px;
}


#search-dropdown .options-list li:hover {
	background-color: #fffff0;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}


#back-to-top:hover {
	color: navy;
	background-color: rgba(0,0,0,0.2);
}

/*data vis stuff*/

#data-vis .data-block {
/*	border: 1px solid black;*/
	width: 100%;
	height: 80%;
	margin: auto;
}

.chart .chart-title {
	font: 14px;
	text-align: right;
	color: white;
}